/* Rebecca Essenburg
CSD 340
Assignment 7.2
5/3/26 */


@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Kiwi+Maru&family=Modak&family=Schoolbell&display=swap');

html {
font-size: 62.5%
}

body {
background-color: #FFAAA6;
background-image: linear-gradient(to bottom, #FFAAA6, #DCEDC2);
background-attachment: fixed;
background-size: cover;
min-height: 100vh;
margin: 0;
}

h1 {
font-family: "Modak", system-ui;
font-size: 6rem;
font-weight: 70;
font-style: normal;
text-shadow: 2px 2px black;
color: #4CA080;
text-align: center;
}

h2 {
font-family: "Chewy", system-ui;
font-size: 4rem;
font-weight: 200;
font-style: normal;
text-shadow: 2px 2px grey;
color: #DCEDC2;
}

h3 {
font-family: "Schoolbell", cursive;
font-size: 3rem;
font-weight: 600;
font-style: normal;
text-shadow: 2px 2px grey;
color: #FF8C94;
}

p {
font-family: "Kiwi Maru", serif;
font-size: 2rem;
font-weight: 300;
color: black;
}

.icon {
height: 200px;
width: 200px;
}

button {
background: none;
border: none;
}

header {
display: flex;
justify-content: center;
place-items: center;
gap: 40px;
margin-top: 30px;
}

#container {
display: flex;
flex-wrap: wrap;
text-align: center;
}

#index {
display: grid;
grid-template-columns: auto;
place-items: center;
}

#navbar {
position: relative;
height: 100%;
width: 200px;
z-index: 1;
overflow-x: hidden;
padding-top: 20px;
}

.main-content {
flex: 1;
margin-left: 5%;
margin-right: 15%;
}

footer {
width: 100%;
text-align: center;
font-style: italic;
font-size: 2rem;
color: grey;
}

#family-pics {
display: flex;
flex-wrap: wrap;
place-items: center;
margin-left: 5%;
margin-top: 5%;
gap: 25px;
}

#dreams-pics {
display: flex;
flex-wrap: wrap;
place-items: center;
margin-left: 5%;
margin-top: 5%;
}

#hobby-pics {
display: flex;
flex-wrap: wrap;
place-items: center;
margin-left: 5%;
}

a:not(.button-link) {
color: #4CA080;
padding: 5px;
text-decoration: none;
}

a:not(.button-link):hover {
background-color: #FFAAA6;
}

figcaption {
font-size: 2rem;
}
